<div id="photo-container">
  <app-photoviewer (pvExit)="handleExit($event)" [imageList]="imageList" [mode]="mode" [startFrom]="startFrom"></app-photoviewer>
</div>
<!--
  <ion-content [fullscreen]="true">
  <div id="photo-container">
    <app-photoviewer (pvExit)="handleExit($event)" [imageList]="imageList" [mode]="mode" [startFrom]="startFrom"></app-photoviewer>
  </div>
</ion-content>

    <div id="photo-container">
      <app-photoviewer [imageList]="imageList" [mode]="mode" [startFrom]="startFrom"></app-photoviewer>
    </div>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

-->
